html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #e9e6f2;
}

body {
  color: #4d457b;
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 100vw;
  position: relative;

  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
